3==0.0.0
3-1==1.0.0
appdirs==1.4.4
asgiref==3.8.1
attrs==24.2.0
black==24.10.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.7
cryptography==43.0.3
defusedxml==0.7.1
distlib==0.3.9
dj-rest-auth==7.0.0
Django==4.2.16
django-admin-sortable==2.3
django-allauth==65.2.0
django-debug-toolbar==4.4.6
django-debug-toolbar-request-history==0.1.4
django-extensions==3.0.3
django-filter==2.4.0
django-model-utils==4.0.0
djangorestframework==3.15.0
exceptiongroup==1.2.2
factory_boy==3.3.1
Faker==33.0.0
filelock==3.16.1
identify==2.6.2
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
Markdown==3.2.2
mypy-extensions==1.0.0
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.2
pathspec==0.12.1
Pillow==8.0.0
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==2.4.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.0
pytest==8.3.3
pytest-cov==2.9.0
pytest-django==3.9.0
pytest-factoryboy==2.0.3
python-dateutil==2.9.0.post0
python3-openid==3.2.0
PyYAML==5.3.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
shortuuid==1.0.1
six==1.16.0
sqlparse==0.5.2
toml==0.10.2
tomli==2.1.0
typed-ast==1.5.5
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.1
